<!DOCTYPE html>

{% load staticfiles %}

<html>
<head><title>First Goal To Complete</title>

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
 

  </head>
<body>

	
  <!-- <nav>
    <div class="nav-wrapper teal">
    	{% for i in headobj %}
      <a href="/" class="brand-logo" class="responsive-img"><img class="responsive-img" src="{{i.logo}}" alt="{{i.name}}" > </a>
       {% endfor %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	{% for i in obj %}
        <li>{{i.name}} </li>
        {% endfor %}
      </ul>
    </div>
  </nav> -->



</ul>


<div class="row">
	{% for i in proimg %}
        <div class="col s3 m6">
        	
          <div class="card">
            <div class="card-image">
              <img src="{{i.photo}}" class="responsive-img">
              <span class="card-title">{{i.first_name}} {{i.last_name}}, {{i.job}} | {{i.location}}</span>
            </div>
            <div class="card-content">
              <p>{{i.about}}</p>
            </div>

            <div class="card-action">
              <p> <i class="tiny material-icons">perm_phone_msg</i>{{i.Mobile}}| <i class="tiny material-icons">email</i>{{i.Email}} | <a class="waves-effect waves-light btn" href="{{i.Website}}"> Know More</a> <span class="new badge red">View: 5</span> </p>
            </div>
            {% for i in socialmedia %}
            <div class="card-action">
              <p><a href="https://www.facebook.com/{{i.facebook}}">Facebook</a>| <a href="https://twitter.com/{{i.twitter}}">Twitter</a> | <a href ="https://in.linkedin.com/{{i.linkedin}}">Linkedin</a></p>
            </div>
            {% endfor %} 
            <div class="progress">
      <div class="indeterminate"></div>
  </div>
        
          </div>
       
        </div>
           {% endfor %}
      </div>
     











</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>